/*

    Impression stylesheet



Size Name	Size in mm
(without bleed area)	Size in pixels 300dpi
(without bleed area)	Size in mm
(with bleed area)	Size in pixels 300dpi
(with bleed area)
  Business Card	85 x 55 mm	1004 x 650 px	91 x 61 mm	1075 x 720 px
  DL / Comp Slip	99 x 210 mm	1169 x 2480 px	105 x 216 mm	1240 x 2551 px
  A7	105 x 74mm	1240 x 874 px	108 x 77 mm	1276 x 909 px
  A6	148 x 105 mm	1748 x 1240 px	154 x 111 mm	1819 x 1311 px
  A5	210 x 148 mm	2480 x 1748 px	216 x 154 mm	2551 x 1819 px
  A4	297 x 210 mm	3508 x 2480 px	303 x 216 mm	3579 x 2551 px
  A3	420 x 297 mm	4961 x 3508 px	426 x 303 mm	5031 x 3579 px
  A2	594 x 420 mm	7016 x 4961 px	600 x 426 mm	7087 x 5031 px
  A1	841 x 594 mm	9933 x 7016 px	847 x 600 mm	10004 x 7087 px
  A0	1189 x 841 mm	14043 x 9933 px	1195 x 847 mm	14114 x 10004 px
  Roller Banners	800 x 2000 mm	9449 x 23622 px	806 x 2006 mm	9520 x 23693 px

 */

/* sheet size */

.a4-paysage {
    min-height: 793px!important;
}
.ticket-of {
    min-height: 320px!important;
}

.facture-A5 {
    min-height: 793px!important;
}

.bg-blanc {
    background: #fff!important;
}


body{
    margin-top:20px;
    background:#eee;
}

.table-invoice {
    color: #000!important;
}

.table-invoice tbody tr {
    line-height: 20px;
}
.table-invoice tbody tr td {
    padding: 3px!important;
}

.invoice {
    color: #000000!important;
    background: #fff;
    padding: 20px
}

.invoice-bordered {
    color: #000;
    border: 1px solid darkgray;
    padding: 10px;
}

.invoice-company {
    font-size: 20px
}

.invoice-header {
    margin: 0 -20px;
    background: #f0f3f4;
    padding-left: 15px
}

.invoice-date,
.invoice-from,
.invoice-to {
    display: table-cell;
    width: 1%
}

.invoice-from,
.invoice-to {
    padding-right: 20px
}

.invoice-date .date,
.invoice-from strong,
.invoice-to strong {
    font-size: 16px;
    font-weight: 600
}

.invoice-date {
    text-align: right;
    padding-left: 20px
}

.invoice-price {
    background: #f0f3f4;
    display: table;
    width: 100%
}

.invoice-price-right {
    color: #fff;
}
.invoice-price .invoice-price-left,
.invoice-price .invoice-price-right {
    display: table-cell;
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    width: 75%;
    position: relative;
    vertical-align: middle
}

.invoice-price .invoice-price-left .sub-price {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px
}

.invoice-price small {
    font-size: 12px;
    font-weight: 400;
    display: block
}

.invoice-price .invoice-price-row {
    display: table;
    float: left
}

.invoice-price .invoice-price-right {
    width: 25%;
    background: #2d353c;
    /*color: #fff;*/
    font-size: 20px;
    text-align: right;
    vertical-align: bottom;
    font-weight: 300
}

.invoice-price .invoice-price-right small {
    display: block;
    opacity: .6;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px
}

.invoice-footer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    font-size: 16px
}

.invoice-note {
    color: #999;
    font-size: 13px;
}

.invoice>div:not(.invoice-footer) {
    margin-bottom: 5px
}

.btn.btn-white, .btn.btn-white.disabled, .btn.btn-white.disabled:focus, .btn.btn-white.disabled:hover, .btn.btn-white[disabled], .btn.btn-white[disabled]:focus, .btn.btn-white[disabled]:hover {
    /*color: #2d353c;*/
    background: #fff;
    border-color: #d9dfe3;
}

/*

TICKET DE CAISSE

 */

.invoice-sm {
    padding: 20px 0;
}

.invoice-sm  * {
    font-size: 9px!important;
    padding: 1.5px!important;
}

.invoice-sm>div:not(.invoice-footer) {
    margin-bottom: 8px;
}

.invoice-sm .invoice-header {
    opacity: .5;
}

.index-none {
    position: absolute!important;
    top: -9999px;
    z-index: -9999;
}

@media print {
    .index-none {
        top: 0;
    }
    .index-of {
        right : 0;
        top: 0;
    }
}

